// --------------------
// Include Fonts Here
// --------------------
@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Regular.woff2') format('woff2'),
    url('../fonts/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('../fonts/Averta-Bold.woff2') format('woff2'),
    url('../fonts/Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

$headings-font: 'Averta', sans-serif;
$body-font: 'Averta', sans-serif;

// --------------------
//  Include Basic Typography
// --------------------

:root {
    font-size: 50%;  //1rem = 8px
    @include media-breakpoint-up(md) {
        font-size: 56.25%; //1rem = 9px
    }
    @include media-breakpoint-up(lg) {
        font-size: 62.5%; // 1rem = 10px
    }
}

html, body {
    @include font-smoothing('on');
    font-size: 2rem; //Laptop: 20px, Ipads: 18px, Mobiles: 16px
    line-height: 1.6;
    font-family: $body-font;
}

p {
    margin-bottom: 1.6rem;
}

// Headline padding
h1, .h1, 
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    line-height: 1.3;
    margin-bottom: 2rem;
    font-family: $headings-font;
    font-weight: bold;
    text-transform: capitalize;
}

h1, .h1 {
    font-size: 5rem;  //Laptop: 50px, Ipads: 45px, Mobiles: 40px
}

h2, .h2 {
    font-size: 4.6rem;  //Laptop: 46px, Ipads: 41.4px, Mobiles: 36.8px
    padding-top: 3rem;
    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: calc(50% - 40px);
    //     width: 80px;
    //     height: 1px;
    //     background: $primary;
    // }
    // @include media-breakpoint-up(lg) {
    //     &.text-lg-left:before {
    //         left: 0;
    //     }
    // }
    // &.text-white:before {
    //     background: white;
    // }
}

h3, .h3 {
    font-size: 3rem;  //Laptop: 30px, Ipads: 27px, Mobiles: 24px
}

h4, .h4 {
    font-size: 2.4rem;  //Laptop: 24px, Ipads: 21.6px, Mobiles: 19.2px
}

h5, .h5 {
    font-size: 2rem;  //Laptop: 20px, Ipads: 18px, Mobiles: 16px
}

h6, .h6 {
    font-size: 1.8rem;  //Laptop: 18px, Ipads: 16.2px, Mobiles: 14.4px
}

strong {
	font-family: $headings-font;
}

// Hero Specific Font Sizes
.eyebrow {
    text-transform: uppercase;
}

.subheadline {
    font-size: 2.2rem;
}